html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}
body {
  margin: 0;
  font: 400 15px/1 arial, sans-serif;
  cursor: default;
  background: #333;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0 0 20px;
  font-weight: 100;
  font-size: 30px;
}
label,
button,
input,
select {
  font: inherit;
  height: 27px;
  vertical-align: top;
}
label::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner {
  padding: 0;
  border: 0 solid transparent;
}
label:focus,
button:focus,
input:focus,
select:focus {
  outline: 2px dotted #888;
}
select,
input {
  border: 1px solid #d9d9d9;
  padding: 0 5px;
  background: #f5f5f5;
  transition: all 0.3s ease-out;
}
select:focus,
input:focus {
  background: #fff;
}
button {
  cursor: default;
  padding: 0 15px;
  background: #d9d9d9;
  color: #222;
  outline: none;
  font-size: 14px;
  line-height: 1;
  border: 1px solid transparent;
}
button:focus {
  border: 1px dotted #353535;
}
#grid {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
}
#grid .grid-body .amount,
#grid .grid-footer .amount {
  text-align: right;
}

.grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
  min-height: 240px;
  font-size: 13px;
  margin-right: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.grid * {
  box-sizing: border-box;
}
.grid-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.grid-scroller {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 24px;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
}
.grid-cell,
.grid-row .grid-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.grid-cell .row-action,
.grid-row .grid-cell .row-action,
.grid-cell a,
.grid-row .grid-cell a {
  text-decoration: underline;
}
.grid-cell .row-action:hover,
.grid-row .grid-cell .row-action:hover,
.grid-cell a:hover,
.grid-row .grid-cell a:hover {
  text-decoration: none;
}
.grid-footer-table .grid-cell:last-of-type,
.grid-body-table .grid-cell:last-of-type {
  padding-right: 30px;
}
.grid-row .grid-cell {
  padding-top: 8px;
  padding-bottom: 8px;
  transition: background-color 0.1s;
}
.grid-row .grid-cell:last-child {
  border: none;
}
.grid-row:first-child {
  border: none;
}
.grid-row.grid-row:first-child .grid-cell {
  border-top: none;
}
.grid-row .grid-no-items {
  padding-left: 20px;
  border-width: 0 0 1px;
}
.grid-row .action {
  padding: 0;
  text-align: center;
}
.grid-row .action .row-action {
  width: 20px;
  font-size: 14px;
  padding: 3px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.grid-header-table {
  position: relative;
  z-index: 10;
}
.grid-header-table .grid-cell {
  height: 30px;
  font-weight: bold;
}
.grid-header-table .grid-cell .fa-sort,
.grid-header-table .grid-cell .fa-sort-asc,
.grid-header-table .grid-cell .fa-sort-desc {
  float: right;
  margin: 9px 6px 0 0;
  font-size: 12px;
  transition: color 0.3s ease-out;
}
.grid-header-table .grid-cell .fa-sort-asc {
  margin-top: 11px;
}
.grid-header-table .grid-cell .fa-sort-desc {
  margin-top: 7px;
}
.grid-header-table .grid-header-cell-inner {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
}
.grid-header-table .sort-asc .grid-header-cell-inner,
.grid-header-table .sort-desc .grid-header-cell-inner {
  margin-right: 10px;
}
.grid-footer-table {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.grid-footer-table .grid-cell {
  height: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-header-scroll-over {
  -webkit-box-shadow: 0 4px 3px -1px rgba(0,0,0,0.3) , 0 1px 0 #ddd;
  -moz-box-shadow: 0 4px 3px -1px rgba(0,0,0,0.3) , 0 1px 0 #ddd;
  box-shadow: 0 4px 3px -1px rgba(0,0,0,0.3) , 0 1px 0 #ddd;
}
/*** DARK THEME ***********************************************************************************/
.grid-dark {
  border: none;
}
.grid-dark .grid-table {
  color: #fff;
}
.grid-dark .grid-scroller {
  background-color: transparent;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.grid-dark .grid-cell .row-action,
.grid-dark .grid-row .grid-cell .row-action,
.grid-dark .grid-cell a,
.grid-dark .grid-row .grid-cell a {
  color: #fff;
}
.grid-dark .grid-row .grid-cell {
  background-color: transparent;
  border-right: none;
}
.grid-dark .grid-row:nth-child(odd) .grid-cell {
  background-color: transparent;
}
.grid-dark .grid-row.selected .grid-cell {
  background-color: transparent;
}
.grid-dark .grid-row:hover .grid-cell {
  background-color: rgba(255,255,255,0.2);
}
.grid-dark .grid-row .grid-no-items:hover {
  background-color: transparent;
}
.grid-dark .grid-row .grid-no-items {
  color: rgba(255,255,255,0.7);
}
.grid-dark .grid-header-table .grid-cell {
  background-color: transparent;
}
.grid-dark .grid-header-table .grid-cell .fa-sort,
.grid-dark .grid-header-table .grid-cell .fa-sort-asc,
.grid-dark .grid-header-table .grid-cell .fa-sort-desc {
  color: rgba(255,255,255,0.2);
}
.grid-dark .grid-header-table .grid-cell:hover .fa-sort {
  color: rgba(255,255,255,0.4);
}
.grid-dark .grid-header-table .grid-cell:hover .fa-sort-asc,
.grid-dark .grid-header-table .grid-cell .fa-sort-asc,
.grid-dark .grid-header-table .grid-cell:hover .fa-sort-desc,
.grid-dark .grid-header-table .grid-cell .fa-sort-desc {
  color: #fff;
}
.grid-dark .grid-footer-table .grid-cell {
  background-color: transparent;
}
/*** DARK THEME ***********************************************************************************/
/*** LIGHT THEME **********************************************************************************/
.grid-light {
  border: 1px solid #b3b3b4;
}
.grid-light .grid-table {
  color: #333;
}
.grid-light .grid-scroller {
  background-color: #fff;
  border-top: 1px solid #b3b3b4;
  border-bottom: 1px solid #b3b3b4;
}
.grid-light .grid-cell .row-action,
.grid-light .grid-row .grid-cell .row-action,
.grid-light .grid-cell a,
.grid-light .grid-row .grid-cell a {
  color: #333;
}
.grid-light .grid-row .grid-cell {
  background-color: #fff;
  border-right: 1px solid #ddd;
}
.grid-light .grid-row:nth-child(odd) .grid-cell {
  background-color: #fafcfd;
}
.grid-light .grid-row.selected .grid-cell {
  background-color: #dae1ed;
}
.grid-light .grid-row:hover .grid-cell {
  background-color: #e4ebf7;
}
.grid-light .grid-row .grid-no-items:hover {
  background-color: #fff;
}
.grid-light .grid-row .grid-no-items {
  color: rgba(51,51,51,0.7);
}
.grid-light .grid-header-table .grid-cell {
  background-color: #dae1ed;
}
.grid-light .grid-header-table .grid-cell .fa-sort,
.grid-light .grid-header-table .grid-cell .fa-sort-asc,
.grid-light .grid-header-table .grid-cell .fa-sort-desc {
  color: rgba(51,51,51,0.2);
}
.grid-light .grid-header-table .grid-cell:hover .fa-sort {
  color: rgba(51,51,51,0.4);
}
.grid-light .grid-header-table .grid-cell:hover .fa-sort-asc,
.grid-light .grid-header-table .grid-cell .fa-sort-asc,
.grid-light .grid-header-table .grid-cell:hover .fa-sort-desc,
.grid-light .grid-header-table .grid-cell .fa-sort-desc {
  color: #333;
}
.grid-light .grid-footer-table .grid-cell {
  background-color: #dae1ed;
}
/*** LIGHT THEME **********************************************************************************/
