@import "_lib";

header-height = 30px;
footer-height = 24px;
cell-vpad = 8px;
cell-hpad = 5px;

// light theme
text-color = #333;
grid-border-color = #B3B3B4;
grid-inner-border-color = #B3B3B4;
cell-border-color = #ddd;
header-bg = #DAE1ED;
row-bg = #fff;
row-alt-bg = #FAFCFD;
row-hover-bg = #E4EBF7;


.grid
	pos 0 0 0 0; cursor default; min-height 240px; font 13; border grid-border-color; margin-right 10;
	not-selectable();
	*
		box-sizing border-box;

.grid-table
	width 100%; color text-color; border-collapse collapse; table-layout fixed;

.grid-scroller
	pos header-height 0 footer-height 0; overflow hidden; overflow-y auto; background-color row-bg;
	border-top grid-inner-border-color; border-bottom grid-inner-border-color;

.grid-cell
.grid-row .grid-cell
	white-space nowrap; overflow hidden; text-overflow ellipsis;
	padding 0 cell-hpad;

	.row-action, a
		color text-color; u 1;
		&:hover
			u 0;

.grid-footer-table
.grid-body-table
	.grid-cell:last-of-type
		padding-right 24;

.grid-row
	.grid-cell
		background-color row-bg; border-right cell-border-color; transition background-color .1s;
		padding-top cell-vpad; padding-bottom cell-vpad;

		&:last-child
			border none;

	&:first-child
		border none;

	&:nth-child(odd) .grid-cell
		background-color row-alt-bg;

	&.selected .grid-cell
		background-color header-bg;

	&:hover .grid-cell
		background-color row-hover-bg;

	&.grid-row:first-child .grid-cell
		border-top none;

	.grid-no-items
		color rgba(text-color, .7); padding-left 20; border-width 0 0 1px;
		&:hover
			background-color row-bg;

	.action
		padding 0; text-align center;
		.row-action
			width 20; font 14; padding 3 4; text-align center; u 0; show 1; margin



.grid-header-table
	position relative; z 10;

	.grid-cell
		height header-height; background-color header-bg; b 1;
		.fa-sort
		.fa-sort-asc
		.fa-sort-desc
			float right; margin 9 6 0 0; color rgba(text-color, 0.2); font 12; transition color .3s ease-out;

		&:hover .fa-sort
			color rgba(text-color, 0.4);

		&:hover, &
			.fa-sort-asc
			.fa-sort-desc
				color text-color;

		.fa-sort-asc
			margin-top 11;

		.fa-sort-desc
			margin-top 7;


	.grid-header-cell-inner
		display block; overflow hidden; text-overflow ellipsis; white-space nowrap;
		line-height header-height;

	.sort-asc, .sort-desc
		.grid-header-cell-inner
			margin-right 10

.grid-footer-table
	pos auto 0 0 0;
	.grid-cell
		height footer-height; background-color header-bg;
		b 1; white-space nowrap; overflow hidden; text-overflow ellipsis;


.grid-header-scroll-over
	shadow 0 4 3 -1 #000 .3, 0 1 0 #ddd;







/*** DARK THEME ***/
// transparent-on-dark theme
dark-text-color = #fff;
dark-grid-border-color = none;
dark-grid-inner-border-color = #999;
dark-cell-border-color = none;
dark-header-bg = transparent;
dark-row-bg = transparent;
dark-row-alt-bg = transparent;
dark-row-hover-bg = rgba(#fff, 0.2);

.grid-dark
	border dark-grid-border-color;

	.grid-table
		color dark-text-color;

	.grid-scroller
		background-color dark-row-bg;
		border-top dark-grid-inner-border-color;
		border-bottom dark-grid-inner-border-color;

	.grid-cell
	.grid-row .grid-cell
		.row-action, a
			color dark-text-color;

	.grid-row
		.grid-cell
			background-color dark-row-bg;
			border-right dark-cell-border-color;

		&:nth-child(odd) .grid-cell
			background-color dark-row-alt-bg;

		&.selected .grid-cell
			background-color dark-header-bg;

		&:hover .grid-cell
			background-color dark-row-hover-bg;

		.grid-no-items:hover
			background-color dark-row-bg;

		.grid-no-items
			color rgba(dark-text-color, .7);

	.grid-header-table
		.grid-cell
			background-color dark-header-bg

			.fa-sort
			.fa-sort-asc
			.fa-sort-desc
				color rgba(dark-text-color, 0.2);

			&:hover .fa-sort
				color rgba(dark-text-color, 0.4);

			&:hover, &
				.fa-sort-asc
				.fa-sort-desc
					color dark-text-color;

	.grid-footer-table .grid-cell
		background-color dark-header-bg;
