@import "_lib";

header-height = 30px;
footer-height = 24px;
cell-vpad = 8px;
cell-hpad = 5px;

.grid
	pos 0 0 0 0; cursor default; min-height 240px; font 13; margin-right 10; not-selectable();
	*
		box-sizing border-box;

.grid-table
	width 100%; border-collapse collapse; table-layout fixed;

.grid-scroller
	pos header-height 0 footer-height 0; overflow hidden; overflow-y auto;

.grid-cell
.grid-row .grid-cell
	white-space nowrap; overflow hidden; text-overflow ellipsis; padding 0 cell-hpad;

	.row-action, a
		u 1;
		&:hover
			u 0;

.grid-footer-table
.grid-body-table
	.grid-cell:last-of-type
		padding-right 30;

.grid-row
	.grid-cell
		padding-top cell-vpad; padding-bottom cell-vpad; transition background-color .1s;

		&:last-child
			border none;

	&:first-child
		border none;

	&.grid-row:first-child .grid-cell
		border-top none;

	.grid-no-items
		padding-left 20; border-width 0 0 1px;

	.action
		padding 0; text-align center;
		.row-action
			width 20; font 14; padding 3 4; text-align center; u 0; show 1; margin



.grid-header-table
	position relative; z 10;

	.grid-cell
		height header-height; b 1;

		.fa-sort
		.fa-sort-asc
		.fa-sort-desc
			float right; margin 9 6 0 0; font 12; transition color .3s ease-out;

		.fa-sort-asc
			margin-top 11;

		.fa-sort-desc
			margin-top 7;


	.grid-header-cell-inner
		show 2; overflow hidden; text-overflow ellipsis; white-space nowrap; line-height header-height;

	.sort-asc
	.sort-desc
		.grid-header-cell-inner
			margin-right 10

.grid-footer-table
	pos auto 0 0 0;
	.grid-cell
		height footer-height; b 1; white-space nowrap; overflow hidden; text-overflow ellipsis;


.grid-header-scroll-over
	shadow 0 4 3 -1 #000 .3, 0 1 0 #ddd;






/*** DARK THEME ***********************************************************************************/
// transparent-on-dark theme

dark-text-color = #fff;
dark-grid-border-color = none;
dark-grid-inner-border-color = #999;
dark-cell-border-color = none;
dark-header-bg = transparent;
dark-row-bg = transparent;
dark-row-alt-bg = transparent;
dark-row-hover-bg = rgba(#fff, 0.2);
dark-row-selected-bg = rgba(#fff, 0.3);

.grid-dark
	border dark-grid-border-color;

	.grid-table
		color dark-text-color;

	.grid-scroller
		background-color dark-row-bg;
		border-top dark-grid-inner-border-color;
		border-bottom dark-grid-inner-border-color;

	.grid-cell
	.grid-row .grid-cell
		.row-action, a
			color dark-text-color;

	.grid-row
		.grid-cell
			background-color dark-row-bg; border-right dark-cell-border-color;

		&:nth-child(odd) .grid-cell
			background-color dark-row-alt-bg;

		&.selected .grid-cell
			background-color dark-row-selected-bg;

		&:hover .grid-cell
			background-color dark-row-hover-bg;

		.grid-no-items:hover
			background-color dark-row-bg;

		.grid-no-items
			color rgba(dark-text-color, .7);

	.grid-header-table
		.grid-cell
			background-color dark-header-bg

			.fa-sort
			.fa-sort-asc
			.fa-sort-desc
				color rgba(dark-text-color, 0.2);

			&:hover .fa-sort
				color rgba(dark-text-color, 0.4);

			&:hover, &
				.fa-sort-asc
				.fa-sort-desc
					color dark-text-color;

	.grid-footer-table .grid-cell
		background-color dark-header-bg;
/*** DARK THEME ***********************************************************************************/






/*** LIGHT THEME **********************************************************************************/
light-text-color = #333;
light-grid-border-color = #B3B3B4;
light-grid-inner-border-color = #B3B3B4;
light-cell-border-color = #ddd;
light-header-bg = #DAE1ED;
light-row-bg = #fff;
light-row-alt-bg = #FAFCFD;
light-row-hover-bg = #E4EBF7;
light-row-selected-bg = #DAE1ED;

.grid-light
	border light-grid-border-color;

	.grid-table
		color light-text-color;

	.grid-scroller
		background-color light-row-bg;
		border-top light-grid-inner-border-color;
		border-bottom light-grid-inner-border-color;

	.grid-cell
	.grid-row .grid-cell
		.row-action, a
			color light-text-color;

	.grid-row
		.grid-cell
			background-color light-row-bg; border-right light-cell-border-color;

		&:nth-child(odd) .grid-cell
			background-color light-row-alt-bg;

		&.selected .grid-cell
			background-color light-row-selected-bg;

		&:hover .grid-cell
			background-color light-row-hover-bg;

		.grid-no-items:hover
			background-color light-row-bg;

		.grid-no-items
			color rgba(light-text-color, .7);

	.grid-header-table
		.grid-cell
			background-color light-header-bg

			.fa-sort
			.fa-sort-asc
			.fa-sort-desc
				color rgba(light-text-color, 0.2);

			&:hover .fa-sort
				color rgba(light-text-color, 0.4);

			&:hover, &
				.fa-sort-asc
				.fa-sort-desc
					color light-text-color;

	.grid-footer-table .grid-cell
		background-color light-header-bg;
/*** LIGHT THEME **********************************************************************************/
